.text-field {
  display: flex;
  position: relative;
  margin-top: 100px;
}

.text-input {
  top: 0;
  width: 100%;
  padding: 1rem 0.7rem;

  border-radius: 5px;
  border: 1px solid gray;
  outline: none;
  color: black;

  font-size: 1rem;

  transition: 0.1s ease-out;
}

.text-label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left top;

  padding: 0 0.3rem;
  margin: 0 0.5rem;

  background-color: white;
  outline: none;
  color: gray;

  transition: 0.1s ease-out;
  pointer-events: none;
}

.text-input:focus + label {
  top: 0;
  transform: translateY(-50%) scale(0.9);

  color: #6200ee;
}

.text-input:focus {
  border-color: #6200ee;
}

input:not(:placeholder-shown) + label {
  top: 0;
  transform: translateY(-50%) scale(0.9);
}
