.container {
  max-width: 1100px;
  width: 95%;
  margin: 0 auto;
}

.profile-card {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 25rem;
  box-shadow: hsla(240, 5%, 41%, 0.2) 0px 7px 29px 0px;
}

.profile-card__header {
  display: flex;
  flex-direction: column;
  //   position: relative;
  width: 100%;
}

.profile-card .background-image {
  object-fit: cover;
  overflow: hidden;
  max-height: 15rem;

  clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 90%);
}

.background-image img {
  width: 100%;
}

// .avatar {
//   position: absolute;
//   width: 100%;
//   bottom: 0;
//   left: 50%;

//   transform: translateX(-50%);
//   //   transform: translate(50%, -50%);
// }

// .avatar img {
//   width: 6rem;
//   height: 6rem;
//   border-radius: 50%;
//   border: 1px solid #fff;
// }

.avatar {
  width: 100%;
  height: 100%;
  margin-top: -7em;

  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}

.avatar img {
  width: 10rem;
  height: 10rem;
  border: 3px solid #fff;
  border-radius: 50%;
}

.profile-card__content__name {
  margin: 1rem 0;

  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  color: #333;

  & h1 {
    margin: 0;
  }
}

.profile-card__content__job-title {
  margin: 0.5rem;

  color: #777;

  font-size: 1rem;

  & > h3 {
    margin: 0;
  }
}

.profile-card__content__description {
  margin: 0.5rem;

  font-style: italic;

  color: #333;
}

.profile-card__content__button {
  margin: 10px;
}
